body{
    background: #D12A77;
    overflow-x: hidden;
}
.white{
    color: #fff!important;
}
.ping{
    color: #D12A77!important;
}
.black{
    color: black!important;
}
.bg-nav-KS {
    background-color:#E43A4E!important;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px!important;
    padding-right: 10px;
}   
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:  rgb(158, 191, 212);;
}
.center{
    text-align: center;
}
.left{
    text-align: left!important;
}
.right{
    text-align: right!important;
}
.img-responsive, .img-fluid{
    max-width: 100%; 
}
#gradient
{
  width: 100%;
  height: 800px;
  padding: 0px;
  margin: 0px;
}
.im-lg-c{
     position: absolute;
   top: 40%;
   left: 50%;
   width: 228px;
   height: 300px;
   margin-top: -150px; /* Half the height */
   margin-left: -150px; /* Half the width */
}
.re-class{  
    position: absolute;
    top: 75%;
}
.set-1{
    margin-top: -50px;
}

#u211-2, #u211-4, #u215-2, #u437-2, #u472-5 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
}
#u211-5 {
    color: #D12A77;
    font-weight: 100;
    font-family: 'Bebas Neue';
    font-size: 86px;
    text-align: center;
}
#u211-6 {
    color: #fff;
    font-weight: 100;
    font-family: 'Bebas Neue';
    font-size: 106px;
    text-align: left;
}
.q-s-p{
    color: #D12A77;
    font-size: 18px;         
    font-weight: 400;
    font-family: '__Roboto_5';
    text-align: center;
    line-height: 41px;
}
.content-section-b {
    padding: 50px 0;
    border-top: 0px solid #e7e7e7;
    border-bottom: 0px solid #e7e7e7;
}
.ib2{
    position: absolute;
    right: 5%;
}
.ib3{
    position: absolute;
    left: 5%;
        margin-top: -195px;
}
.p-as{
    color: #fff;
    font-size: 37px;
}
.circule-1{
    z-index: 66;
    width: 251px;
    height: 251px;
    border-style: solid;
    border-width: 10px;
    border-color: #FFFFFF;
    border-radius: 50%;
    float: right;
}
.circule-2{
    z-index: 67;
    width: 136px;
    height: 136px;
    border-style: solid;
    border-width: 10px;
    border-color: #FFFFFF;
    border-radius: 50%;
    margin-bottom: -5px;
    position: absolute;
    right: 180px;
    bottom: 517px;
}
.set-2{
    background: -webkit-gradient(linear, center top, center bottom, from(#D12A77),color-stop(100%, #F64927));
    background: -webkit-linear-gradient(top,#D12A77 ,#F64927 100%);
    background: linear-gradient(to bottom,#D12A77 ,#F64927 100%);
}
.set-3{
    background: #F64927;
}
.set-4{
    background: -webkit-gradient(linear, center top, center bottom, from(#F64927),color-stop(100%, #D12A77));
    background: -webkit-linear-gradient(top,#F64927 ,#D12A77 100%);
    background: linear-gradient(to bottom,#F64927 ,#D12A77 100%);
}
.set-5{
    background: -webkit-gradient(linear, center top, center bottom, from(#D12A77),color-stop(100%, #6958A6 ));
    background: -webkit-linear-gradient(top,#D12A77 ,#6958A6  100%);
    background: linear-gradient(to bottom,#D12A77 ,#6958A6  100%);
}
.set-6{
    background: #6958A6;
}

#u421 {
        /* z-index: 71; */
    height: 35px;
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    top: 50%;
}
.c-2{
    padding-top: 50px;
    background: white;
    border-radius: 10px;
    margin-top: 10px;
}
.c-1{
    background: white;
    border-radius: 10px;
}
.c-4{
    background: -webkit-gradient(linear, left center, right center, from(#F64927),color-stop(100%, #D12A77));
    background: -webkit-linear-gradient(left,#F64927 ,#D12A77 100%);
    background: linear-gradient(to right,#F64927 ,#D12A77 100%);
    padding: 25px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
footer{
        background: -webkit-gradient(linear, left center, right center, from(#F64927),color-stop(100%, #E43A4E));
    background: -webkit-linear-gradient(left,#F64927 ,#E43A4E 100%);
    background: linear-gradient(to right,#F64927 ,#E43A4E 100%);
    padding-bottom: 52px;
}
#map {
    width: 100%; height: 300px;
}   
.formpc{
    background: #fff;
    margin-top: -200px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.p-top-10{
    padding-top: 10px;
}
.bte{
    background: #fff;
    border: 2px solid #D12A77;
    color:#6B6B6B;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
}


@media only screen and (max-width: 900px) {
    .c-w{
        color: white!important;
    }
    .p-100-res{
        padding-top:100px;
    }
}


@media only screen and (max-width: 500px) {
    .im-lg-c {
        margin-left: -119px;
    }
    .re-class{  
        display: none;  
    }
}


@font-face {
    font-family: "Bebas Neue";
    src: url(../fonts/bebas/BebasNeue.otf) format("truetype");
}
.bebas{
    font-family: 'Bebas Neue', sans-serif;
}

/*
background: -webkit-gradient(linear, center top, center bottom, from(#D12A77),color-stop(100%, #F64927));
    background: -webkit-linear-gradient(top,#D12A77 ,#F64927 100%);
    background: linear-gradient(to bottom,#D12A77 ,#F64927 100%);

    background: -webkit-gradient(linear, center top, center bottom, from(#D12A77),color-stop(100%, #6958A6));
    background: -webkit-linear-gradient(top,#D12A77 ,#6958A6 100%);
    background: linear-gradient(to bottom,#D12A77 ,#6958A6 100%);
    */  